# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Virtual Environments
.venv/
venv/
env/

# Environment Configurations & Secrets
.env
*.env
.env.example
askcos.ssl.cert
askcos.ssl.key
nginx.conf

# IDE & OS Artifacts
.DS_Store
.idea/
.vscode/

# Local Deployment & Data Artifacts
deployment/
data/
*.sif
*.out
*.log
configs/module_config_w_optimizer.py
